

{% block body %}
<script src="https://kit.fontawesome.com/5b74b58050.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div style="width: 1100px; margin: 10px 50px;">
    <button class="btn btn-primary" type="submit"><a style="color: white; text-decoration:none; font-size: 20px;" href="/admin/receipt">Back</a></button>
    <h1>Chi tiết hóa đơn</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tên sách</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Giá</th>
            </tr>
        </thead>
        <tbody>
            {% for receipt in receipt_details %}
            <tr>
                <td>{{ receipt.book.name }}</td>
                <td>{{ receipt.quantity }}</td>
                <td>{{ "{:,.0f}".format(receipt.price) }} VNĐ</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Thành tiền: {{ "{:,.0f}".format(sum) }} VNĐ</h1>
</div>



{% endblock %}


