* {
    font-family: Tahoma;
}

a {
    color: black;
}


body {
}

.container {
    margin-width: 1170px;
}

h1.subject {
    text-align: center;
}

h5.mb-0 a {
    text-decoration: none;
}

h5.mb-0 a:hover {
    color: red;
}

footer {
    margin-top: 30px;
}