<div id="header" class="">
    <div class="header-user">
        <a href="{{ url_for('index') }}">
            <img src="https://res.cloudinary.com/de3yhowd4/image/upload/v1670816756/z3952981598846_ad4ef04150b1e85054292876a3f8a72e_sbv01e.jpg" alt="">
        </a>
        <form action="/">
            <div class="input-group mb-3">
              <input type="text" class="form-control search" name="keyword" placeholder="Tìm kiếm" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Tìm kiếm</button>
              </div>
            </div>
        </form>
        <ul class="service-user">
            {% if current_user.is_authenticated %}
            <li>
                <a href="">
                    {% if current_user.avatar %}
                    <img class="rounded-circle" src="{{ current_user.avatar }}" width="30" alt="{{ current_user.username }}">
                    {% else %}
                    <img src="https://res.cloudinary.com/de3yhowd4/image/upload/v1670817128/user-default_dzjczj.png" width="30" alt="">
                    {% endif %}
                    {{ current_user.name }}
                </a>
            </li>
            {% if current_user.username == "admin" %}
            <li>
                <a href="/admin">Admin page</a>
            </li>
            {% endif %}
            <li>
                <a href="{{ url_for('user_logout') }}">Đăng xuất</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for('user_login') }}">Đăng nhập</a>
            </li>
            <li>
                <a href="{{ url_for('user_register') }}">Đăng ký</a>
            </li>
            {% endif %}
            <li>
                <a href="{{ url_for('cart') }}"><i class="fa-solid fa-cart-shopping"> <span class="cart-counter">{{ cart.total_quantity }}</span></i></a>
            </li>
        </ul>
    </div>

    <div class="dropdown">
          <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Danh mục sản phẩm
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{{ url_for('index') }}">Tất cả sản phẩm</a>
              {% for category in categories %}
                <a class="dropdown-item" href="/category/{{ category.id }}"> {{ category.name }} </a>
              {% endfor %}
          </div>
    </div>
</div>

