{% extends 'layout/base.html' %}

{% block title %} Giỏ hàng cá nhân {% endblock %}
<{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
{% endblock %}

{% block content %}
    <h1>Giỏ hàng của bạn</h1>
    {% if 'cart' in session and session['cart'] %}
    <table class="table">
        <tr>
            <th>Mã sách</th>
            <th>Tên sách</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
            <th>Xóa</th>
        </tr>
        {% for c in session['cart'].values() %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
            <td>{{ "{:,.0f}".format(c.price) }} VNĐ</td>
            <td><input type="number" min="1" value="{{ c.quantity }}" style="width: 70px; text-align: center"></td>
            <td><a href=""><i class="fa-solid fa-trash"></i></a></td>
        </tr>
        {% endfor %}
    </table>
    <input type="text" placeholder="Ghi chú" style="outline:none; width: 1110px; height: 70px; border-radius: 8px; padding: 0 10px; margin: 20px 0">
    <div class="alert alert-info">
        <h5>Tổng tiền: {{ "{:,.1f}".format(stats.total_amount) }} VNĐ</h5>
    </div>
    <div>
        {% if current_user.is_authenticated %}
        <input type="button" class="btn btn-success" onclick="pay()" value="Thanh toán" />
        {% else %}
        <p>Vui lòng <a style="color: red;" href="/login?next=/cart">đăng nhập</a> để thanh toán!</p>
        {% endif %}
    </div>
    {% else %}
    <p>Không có sản phẩm nào trong giỏ hàng</p>
    {% endif %}


{% endblock %}