{% extends 'layout/base.html' %}

{% block title %} Open BookStore {% endblock %}
<{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
{% endblock %}

{% block content %}
<h1>Chi tiết sản phẩm</h1>
<div class="container">
    <div class="col-lg-8 border p-3 main-section bg-white">
        <div class="row m-0">
            <div class="col-lg-4 left-side-product-box pb-3">
                <img src="{{ book.image }}" class="border p-3">
            </div>
            <div class="col-lg-8">
                <div class="right-side-pro-detail border p-3 m-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="m-0 p-0">{{ book.name }}</p>
                        </div>
                        <div class="col-lg-12">
                            <p class="m-0 p-0 price-pro">{{ "{:,.0f}".format(book.price) }} VNĐ</p>
                            <hr class="p-0 m-0">
                        </div>
                        <div class="col-lg-12 pt-2">
                            <h5>Mô tả sản phẩm</h5>
                            <span>{{ book.description }}</span>
                            <hr class="m-0 pt-2 mt-2">
                        </div>
                        <div class="col-lg-12">
                            <p class="tag-section"><strong>Thể loại: </strong><a href="/category/{{book.category_id}}">{{ book.category }}</a></p>
                        </div>
                        <div class="col-lg-12 mt-3">
                            <div class="row">
                                <div class="col-lg-6 pb-2">
                                    <a href="{{ url_for('add_to_cart') }}" onclick="addToCart({{ book.id }}, '{{ book.name }}', {{ book.price }}, '{{ book.image }}')" class="btn btn-danger w-100">Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center pt-3">
                <h4><a href="{{ url_for('index') }}">Sản phẩm khác</a></h4>
            </div>
        </div>
    </div>
</div>
<hr>
{% if current_user.is_authenticated %}
<div style="margin-top: 545px;">
    <div class="form-group">
        <textarea class="form-control" id="comment-content" placeholder="Nội dung bình luận"></textarea>
    </div>
    <div class="mt-1">
        <input type="button" onclick="addComment({{ book.id }})" value="Thêm bình luận" class="btn btn-primary" />
    </div>
</div>
{% else %}
<div id="comment-box">
    <p>Vui lòng <a href="/login?next=/products/{{ book.id }}" style="text-decoration: none; color: red;">đăng nhập</a> để bình luận!</p>
    {% endif %}
    <div class="spinner-grow text-primary spinner"></div>
    <div class="mt-2">
        <ul class="list-group" id="comments"></ul>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/details.js') }}"></script>
<script>
    window.onload = () => {
        loadComments({{ book.id }})
    }
</script>
{% endblock %}