{% extends 'layout/base.html' %}

{% block title %} Open BookStore {% endblock %}

{% block content %}
<h3>{{ msg }}</h3>
<div class="row">
        <section style="background-color: #eee;">

              <div class="container py-5">
                <div class="row">
                  {% for book in books %}
                  {% if book.active %}
                  <div class="col-md-6 col-lg-4 mb-4 mb-md-5" >
                    <div class="card" style="height:530px;">
                      <img style="width: 350px; height:375px;" src="{{ book.image }}"
                        class="card-img-top" alt="" />
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <p class="small"><a href="/category/{{ book.category_id }}" class="text-muted">{{ book.category }}</a></p>
                        </div>

                        <div class="d-flex justify-content-between mb-3">
                          <h5 class="mb-0"><a href="/books/{{book.id}}" >{{ book.name }}</a></h5>
                        </div>
                        <div style="display:flex; justify-content: space-between;">

                          <h5 class="text-dark mb-0">{{ "{:,.0f}".format(book.price) }} VNĐ</h5>

                          <button class="btn btn-danger" type="submit">
                            <a style="color: white; text-decoration: none;" href="/books/{{book.id}}">Mua hàng</a>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>

        </section>
</div>

{% endblock %}

